<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>options</title>
  <link rel="stylesheet" type="text/css" href="./css/options.css">
  <script src="./lib/vue.js"></script>
</head>

<body>
  <div id="options">

    <h1>options</h1>
    <div :class="{'even': urlindex % 2 === 0,'odd': urlindex % 2 !== 0 }" v-for="(sets, urlindex) in urls">
      <input type="text" class="url" v-model="sets.url" placeholder="write url">
      <span class="command" @click="deleteurl(urlindex)">[-]</span>
      <div v-for="(setup,itemindex) in sets.keysets">
        <p class="keysets">
          <input type="text" v-model="setup.forwardkey" placeholder="'forward' key">
          <input type="text" v-model="setup.backwardkey" placeholder="'backward' key.">
          <input type="text" v-model="setup.elmname" placeholder="(ex)'.class-name', '#example ul li' ">
          <span class="command" @click="deleteitem(urlindex,itemindex)">[-]</span>
          <span v-if="itemindex == sets.keysets.length - 1" class="command" @click="additem(urlindex,itemindex)">[+]</span>
        </p>
      </div>
    </div>
    <div class="btns">
      <button @click="addurl" class="add-url">add url</button>
      <button @click="saveitems" class="save">save</button>
    </div>
  </div>

  <script src="./js/options.js"></script>
</body>

</html>